<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lenovo.otmp.bank.mapper.BankTransferInvoiceResponseInfoMapper">
    
    <resultMap type="com.lenovo.otmp.bank.domain.entity.BankTransferInvoiceResponseInfoDO" id="BankTransferInvoiceResponseInfoResult">
        <result property="id"    column="id"    />
        <result property="invoiceId"    column="invoice_id"    />
        <result property="lenovoBatchNumber"    column="lenovo_batch_number"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isRead"    column="is_read"    />
    </resultMap>

    <sql id="selectBankTransferInvoiceResponseInfoVo">
        select id, invoice_id, lenovo_batch_number, status, create_time, create_by, update_by, update_time, is_read from otfp_financing.bank_transfer_invoice_response_info
    </sql>

    <select id="selectBankTransferInvoiceResponseInfoList" parameterType="com.lenovo.otmp.bank.domain.dto.BankTransferInvoiceResponseInfoDTO" resultMap="BankTransferInvoiceResponseInfoResult">
        <include refid="selectBankTransferInvoiceResponseInfoVo"/>
        <where>  
            <if test="invoiceId != null  and invoiceId != ''"> and invoice_id = #{invoiceId}</if>
            <if test="lenovoBatchNumber != null  and lenovoBatchNumber != ''"> and lenovo_batch_number = #{lenovoBatchNumber}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="isRead != null  and isRead != ''"> and is_read = #{isRead}</if>
        </where>
    </select>
    
    <select id="selectBankTransferInvoiceResponseInfoById" parameterType="Long" resultMap="BankTransferInvoiceResponseInfoResult">
        <include refid="selectBankTransferInvoiceResponseInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBankTransferInvoiceResponseInfo" parameterType="com.lenovo.otmp.bank.domain.entity.BankTransferInvoiceResponseInfoDO">
        insert into otfp_financing.bank_transfer_invoice_response_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="invoiceId != null">invoice_id,</if>
            <if test="lenovoBatchNumber != null">lenovo_batch_number,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isRead != null">is_read,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="invoiceId != null">#{invoiceId},</if>
            <if test="lenovoBatchNumber != null">#{lenovoBatchNumber},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isRead != null">#{isRead},</if>
         </trim>
    </insert>

    <update id="updateBankTransferInvoiceResponseInfo" parameterType="com.lenovo.otmp.bank.domain.entity.BankTransferInvoiceResponseInfoDO">
        update otfp_financing.bank_transfer_invoice_response_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="invoiceId != null">invoice_id = #{invoiceId},</if>
            <if test="lenovoBatchNumber != null">lenovo_batch_number = #{lenovoBatchNumber},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isRead != null">is_read = #{isRead},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBankTransferInvoiceResponseInfoById" parameterType="Long">
        delete from otfp_financing.bank_transfer_invoice_response_info where id = #{id}
    </delete>

    <delete id="deleteBankTransferInvoiceResponseInfoByIds" parameterType="String">
        delete from otfp_financing.bank_transfer_invoice_response_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>