<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microservices.otmp.masterdata.mapper.BizBaseSalesOrgPaymentModeMapper">
    
    <resultMap type="com.microservices.otmp.masterdata.domain.BizBaseSalesOrgPaymentMode" id="BizBaseSalesOrgPaymentModeResult">
        <result property="id"    column="id"    />
        <result property="geoCode"    column="geo_code"    />
        <result property="regionMarketCode"    column="region_market_code"    />
        <result property="regionMarketName"    column="region_market_name"    />
        <result property="salesOrgCode"    column="sales_org_code"    />
        <result property="salesOrgName"    column="sales_org_name"    />
        <result property="paymentModeCode"    column="payment_mode_code"    />
        <result property="integrateMode"    column="integrate_mode"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBizBaseSalesOrgPaymentModeVo">
        select id, geo_code, region_market_code, region_market_name, sales_org_code, sales_org_name, payment_mode_code, integrate_mode, status, remark, create_by, create_time, update_by, update_time from biz_base_sales_org_payment_mode
    </sql>

    <select id="selectBizBaseSalesOrgPaymentModeList" parameterType="com.microservices.otmp.masterdata.domain.BizBaseSalesOrgPaymentMode" resultMap="BizBaseSalesOrgPaymentModeResult">
        <include refid="selectBizBaseSalesOrgPaymentModeVo"/>
        <where>  
            <if test="geoCode != null  and geoCode != ''"> and geo_code = #{geoCode}</if>
            <if test="regionMarketCode != null  and regionMarketCode != ''"> and region_market_code  Ilike '%'|| #{regionMarketCode}||'%'  </if>
            <if test="regionMarketName != null  and regionMarketName != ''"> and region_market_name  Ilike '%'|| #{regionMarketName}||'%'  </if>
            <if test="salesOrgCode != null  and salesOrgCode != ''"> and sales_org_code  Ilike '%'|| #{salesOrgCode}||'%'  </if>
            <if test="salesOrgName != null  and salesOrgName != ''"> and sales_org_name  Ilike '%'|| #{salesOrgName}||'%'  </if>
            <if test="paymentModeCode != null  and paymentModeCode != ''"> and payment_mode_code = #{paymentModeCode}  </if>
            <if test="integrateMode != null  and integrateMode != ''"> and integrate_mode = #{integrateMode}</if>
            and status ='Y'
            <if test="remark != null  and remark != ''"> and remark  Ilike '%'|| #{remark}||'%'  </if>
            <if test="createBy != null  and createBy != ''"> and create_by  Ilike '%'|| #{createBy}||'%'  </if>
            <if test="idsList != null and idsList.size>0">
                and id in
                <foreach collection="idsList" item="tableId" open="(" separator="," close=")">
                    #{tableId}
                </foreach>

            </if>

        </where>
        order by id desc

    </select>


    <select id="getDropDownList" parameterType="com.microservices.otmp.masterdata.domain.BizBaseDropDownCondition"
            resultMap="BizBaseSalesOrgPaymentModeResult">

        select distinct integrate_mode from biz_base_sales_org_payment_mode
        <where>
            status = 'Y'
            <if test="paymentModeCode != null  and paymentModeCode != ''">
                <choose>
                    <when test=" 1 == paymentModeCode.split(',').length">
                        and payment_mode_code = #{paymentModeCode}
                    </when>
                    <otherwise>
                        and payment_mode_code in
                        <foreach collection="paymentModeCode.split(',')" item="item" open="(" close=")" separator=",">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>

        </where>
    </select>

    
    <select id="selectBizBaseSalesOrgPaymentModeById" parameterType="Long" resultMap="BizBaseSalesOrgPaymentModeResult">
        <include refid="selectBizBaseSalesOrgPaymentModeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBizBaseSalesOrgPaymentMode" parameterType="com.microservices.otmp.masterdata.domain.BizBaseSalesOrgPaymentMode" useGeneratedKeys="true" keyProperty="id">
        insert into biz_base_sales_org_payment_mode
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="geoCode != null">geo_code,</if>
            <if test="regionMarketCode != null">region_market_code,</if>
            <if test="regionMarketName != null">region_market_name,</if>
            <if test="salesOrgCode != null">sales_org_code,</if>
            <if test="salesOrgName != null">sales_org_name,</if>
            <if test="paymentModeCode != null">payment_mode_code,</if>
            <if test="integrateMode != null">integrate_mode,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="geoCode != null">#{geoCode},</if>
            <if test="regionMarketCode != null">#{regionMarketCode},</if>
            <if test="regionMarketName != null">#{regionMarketName},</if>
            <if test="salesOrgCode != null">#{salesOrgCode},</if>
            <if test="salesOrgName != null">#{salesOrgName},</if>
            <if test="paymentModeCode != null">#{paymentModeCode},</if>
            <if test="integrateMode != null">#{integrateMode},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBizBaseSalesOrgPaymentMode" parameterType="com.microservices.otmp.masterdata.domain.BizBaseSalesOrgPaymentMode">
        update biz_base_sales_org_payment_mode
        <trim prefix="SET" suffixOverrides=",">
            <if test="geoCode != null">geo_code = #{geoCode},</if>
            <if test="regionMarketCode != null">region_market_code = #{regionMarketCode},</if>
            <if test="regionMarketName != null">region_market_name = #{regionMarketName},</if>
            <if test="salesOrgCode != null">sales_org_code = #{salesOrgCode},</if>
            <if test="salesOrgName != null">sales_org_name = #{salesOrgName},</if>
            <if test="paymentModeCode != null">payment_mode_code = #{paymentModeCode},</if>
            <if test="integrateMode != null">integrate_mode = #{integrateMode},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizBaseSalesOrgPaymentModeById" parameterType="Long">
        delete from biz_base_sales_org_payment_mode where id = #{id}
    </delete>

    <delete id="deleteBizBaseSalesOrgPaymentModeByIds" parameterType="String">
        delete from biz_base_sales_org_payment_mode where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectBizBaseSalesOrgPaymentModeListCheck" resultMap="BizBaseSalesOrgPaymentModeResult">

        <include refid="selectBizBaseSalesOrgPaymentModeVo"/>
        <where>

            <if test="salesOrgCode != null  and salesOrgCode != ''"> and sales_org_code = #{salesOrgCode}</if>
            <if test="paymentModeCode != null  and paymentModeCode != ''"> and payment_mode_code = #{paymentModeCode}</if>
            <if test="integrateMode != null  and integrateMode != ''"> and integrate_mode = #{integrateMode}</if>
            and status ='Y'
        </where>
    </select>

    <update id="updateBizBaseSalesOrgPaymentModeByIds">
        update   biz_base_sales_org_payment_mode set status='N',update_time=now()    where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>