<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lenovo.otmp.masterdata.mapper.BizBaseSalesOfficeMapper">
    
    <resultMap type="com.lenovo.otmp.masterdata.domain.BizBaseSalesOffice" id="BizBaseSalesOfficeResult">
        <result property="id"    column="id"    />
        <result property="salesOrgCode"    column="sales_org_code"    />
        <result property="salesOrgName"    column="sales_org_name"    />
        <result property="salesOfficeCode"    column="sales_office_code"    />
        <result property="salesOfficeName"    column="sales_office_name"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBizBaseSalesOfficeVo">
        select id, sales_org_code, sales_org_name, sales_office_code, sales_office_name, status, remark, create_by, create_time, update_by, update_time from biz_base_sales_office
    </sql>

    <select id="selectBizBaseSalesOfficeList" parameterType="com.lenovo.otmp.masterdata.domain.BizBaseSalesOffice" resultMap="BizBaseSalesOfficeResult">
        <include refid="selectBizBaseSalesOfficeVo"/>
        <where>  
            <if test="salesOrgCode != null  and salesOrgCode != ''">
                <choose>
                    <when test=" 1 == salesOrgCode.split(',').length">
                        and sales_org_code like '%'|| #{salesOrgCode}||'%'
                    </when>
                    <otherwise>
                        and sales_org_code in
                        <foreach collection="salesOrgCode.split(',')" item="item" open="(" close=")" separator=",">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
            <if test="salesOrgName != null  and salesOrgName != ''"> and sales_org_name  Ilike '%'|| #{salesOrgName}||'%' </if>
            <if test="salesOfficeCode != null  and salesOfficeCode != ''"> and sales_office_code  Ilike '%'|| #{salesOfficeCode}||'%' </if>
            <if test="salesOfficeName != null  and salesOfficeName != ''"> and sales_office_name ilike '%'||#{salesOfficeName}||'%'</if>
            and status ='Y'
            <if test="remark != null  and remark != ''"> and remark  Ilike '%'|| #{remark}||'%'  </if>
            <if test="createBy != null  and createBy != ''"> and create_by  Ilike '%'|| #{createBy}||'%'  </if>

            <if test="idsList != null and idsList.size>0">
                and id in
                <foreach collection="idsList" item="tableId" open="(" separator="," close=")">
                    #{tableId}
                </foreach>

            </if>
        </where>
        order by id desc
    </select>

    <select id="getDropDownList" parameterType="com.lenovo.otmp.masterdata.domain.BizBaseDropDownCondition" resultMap="BizBaseSalesOfficeResult">
        select distinct sales_office_code  from biz_base_org_office
        <where>
            status = 'Y'
            <if test="salesOrgCode != null  and salesOrgCode != ''">
                <choose>
                    <when test=" 1 == salesOrgCode.split(',').length">
                        and sales_org_code like '%'|| #{salesOrgCode}||'%'
                    </when>
                    <otherwise>
                        and sales_org_code in
                        <foreach collection="salesOrgCode.split(',')" item="item" open="(" close=")" separator=",">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
            <if test="salesOfficeCode != null  and salesOfficeCode != ''">
                <choose>
                    <when test=" 1 == salesOfficeCode.split(',').length">
                        and sales_office_code like '%'|| #{salesOfficeCode}||'%'
                    </when>
                    <otherwise>
                        and sales_office_code in
                        <foreach collection="salesOfficeCode.split(',')" item="item" open="(" close=")" separator=",">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
            <if test="regionMarketCode != null  and regionMarketCode != ''">
                <choose>
                    <when test=" 1 == regionMarketCode.split(',').length">
                        and region_market_code like '%'|| #{regionMarketCode}||'%'
                    </when>
                    <otherwise>
                        and region_market_code in
                        <foreach collection="regionMarketCode.split(',')" item="item" open="(" close=")" separator=",">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
            <if test="businessGroup != null  and businessGroup != ''">
                <choose>
                    <when test=" 1 == businessGroup.split(',').length">
                        and business_group = #{businessGroup}
                    </when>
                    <otherwise>
                        and business_group in
                        <foreach collection="businessGroup.split(',')" item="item" open="(" close=")" separator=",">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
        </where>
    </select>
    
    <select id="selectBizBaseSalesOfficeById" parameterType="Long" resultMap="BizBaseSalesOfficeResult">
        <include refid="selectBizBaseSalesOfficeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBizBaseSalesOffice" parameterType="com.lenovo.otmp.masterdata.domain.BizBaseSalesOffice" useGeneratedKeys="true" keyProperty="id">
        insert into biz_base_sales_office
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="salesOrgCode != null and salesOrgCode != ''">sales_org_code,</if>
            <if test="salesOrgName != null and salesOrgName != ''">sales_org_name,</if>
            <if test="salesOfficeCode != null and salesOfficeCode != ''">sales_office_code,</if>
            <if test="salesOfficeName != null and salesOfficeName != ''">sales_office_name,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="salesOrgCode != null and salesOrgCode != ''">#{salesOrgCode},</if>
            <if test="salesOrgName != null and salesOrgName != ''">#{salesOrgName},</if>
            <if test="salesOfficeCode != null and salesOfficeCode != ''">#{salesOfficeCode},</if>
            <if test="salesOfficeName != null and salesOfficeName != ''">#{salesOfficeName},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>

         </trim>
    </insert>

    <update id="updateBizBaseSalesOffice" parameterType="com.lenovo.otmp.masterdata.domain.BizBaseSalesOffice">
        update biz_base_sales_office
        <trim prefix="SET" suffixOverrides=",">
            <if test="salesOrgCode != null and salesOrgCode != ''">sales_org_code = #{salesOrgCode},</if>
            <if test="salesOrgName != null and salesOrgName != ''">sales_org_name = #{salesOrgName},</if>
            <if test="salesOfficeCode != null and salesOfficeCode != ''">sales_office_code = #{salesOfficeCode},</if>
            <if test="salesOfficeName != null and salesOfficeName != ''">sales_office_name = #{salesOfficeName},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizBaseSalesOfficeById" parameterType="Long">
        delete from biz_base_sales_office where id = #{id}
    </delete>

    <delete id="deleteBizBaseSalesOfficeByIds" parameterType="String">
        delete from biz_base_sales_office where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="selectBizBaseSalesOfficeListCheck" resultMap="BizBaseSalesOfficeResult">
        <include refid="selectBizBaseSalesOfficeVo"/>
        <where>
            <if test="salesOrgCode != null  and salesOrgCode != ''"> and sales_org_code = #{salesOrgCode}</if>
            <if test="salesOfficeCode != null  and salesOfficeCode != ''"> and sales_office_code = #{salesOfficeCode}</if>
            and status ='Y'
        </where>
    </select>

    <update id="updateBizBaseSalesOfficeByIds">
        update   biz_base_sales_office set status='N',update_time=now()   where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>