<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microservices.otmp.masterdata.mapper.BizBasePreferredBankMaintenanceMapper">

    <resultMap type="com.microservices.otmp.masterdata.domain.BizBasePreferredBankMaintenance" id="BizBasePreferredBankMaintenanceResult">
        <result property="id" column="id"/>
        <result property="geo" column="geo"/>
        <result property="vendorCode" column="vendor_code"/>
        <result property="vendorName" column="vendor_name"/>
        <result property="bankAccount" column="bank_account"/>
        <result property="bankType" column="bank_type"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="remark" column="remark"/>
        <result property="dataVersion" column="data_version"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="swiftCode" column="swift_code"/>
        <result property="accountHolder" column="account_holder"/>
        <result property="bankName" column="bank_name"/>
    </resultMap>

    <sql id="selectBizBasePreferredBankMaintenanceVo">
        select
            id, geo, vendor_code, vendor_name, bank_account, bank_type, remark, delete_flag, data_version, create_by, create_time, update_by, update_time, swift_code, account_holder, bank_name
        from
            biz_base_preferred_bank_maintenance
    </sql>

    <select id="selectBizBasePreferredBankMaintenanceList" parameterType="com.microservices.otmp.masterdata.domain.BizBasePreferredBankMaintenance"
            resultMap="BizBasePreferredBankMaintenanceResult">
        <include refid="selectBizBasePreferredBankMaintenanceVo"/>
        <where>
            delete_flag = false
            <if test="geo != null and geo != ''">and UPPER(geo) like concat('%', UPPER(#{geo}::text), '%')</if>
            <if test="vendorCode != null and vendorCode != ''">and vendor_code = #{vendorCode}</if>
            <if test="vendorName != null and vendorName != ''">and vendor_name = #{vendorName}</if>
            <if test="bankAccount != null and bankAccount != ''">and UPPER(bank_account) like concat('%', UPPER(#{bankAccount}::text), '%')</if>
            <if test="remark != null and remark != ''">and remark like concat('%', #{remark}::text, '%') </if>
            <if test="dataVersion != null and dataVersion != ''">and data_version = #{dataVersion}</if>
            <if test="swiftCode != null and swiftCode != ''">and swift_code = #{swiftCode}</if>
            <if test="accountHolder != null and accountHolder != ''">and account_holder = #{accountHolder}</if>
            <if test="bankName != null and bankName != ''">and bank_name = #{bankName}</if>
            <if test="idsList != null and idsList.size>0">
                and id in
                <foreach collection="idsList" item="tableId" open="(" separator="," close=")">
                    #{tableId}
                </foreach>
            </if>
        </where>
        order by id desc
    </select>


    <select id="selectBizBasePreferredBankMaintenanceById" parameterType="Long" resultMap="BizBasePreferredBankMaintenanceResult">
        <include refid="selectBizBasePreferredBankMaintenanceVo"/>
        where id = #{id} and delete_flag = false
    </select>
    <select id="checkLgvmBank" resultType="java.lang.Integer">
        select count(id)
        from biz_base_vendor_bank
        <where>
            <if test="vendorCode != null and vendorCode != ''">and vendor_code = #{vendorCode}</if>
            <if test="bankType != null and bankType != ''">and bank_type = #{bankType}</if>
            <if test="bankAccount != null and bankAccount != ''">and bank_account = #{bankAccount}</if>
            and status = 'Y'
        </where>
    </select>

    <insert id="insertBizBasePreferredBankMaintenance" parameterType="com.microservices.otmp.masterdata.domain.BizBasePreferredBankMaintenance"
            useGeneratedKeys="true" keyProperty="id">
        insert into biz_base_preferred_bank_maintenance
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="geo != null and geo != ''">geo,</if>
            <if test="vendorCode != null and vendorCode != ''">vendor_code,</if>
            <if test="vendorName != null and vendorName != ''">vendor_name,</if>
            <if test="bankAccount != null and bankAccount != ''">bank_account,</if>
            <if test="bankType != null and bankType != ''">bank_type,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="dataVersion != null">data_version,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="swiftCode != null">swift_code,</if>
            <if test="accountHolder != null">account_holder,</if>
            <if test="bankName != null">bank_name,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="geo != null and geo != ''">#{geo},</if>
            <if test="vendorCode != null and vendorCode != ''">#{vendorCode},</if>
            <if test="vendorName != null and vendorName != ''">#{vendorName},</if>
            <if test="bankAccount != null and bankAccount != ''">#{bankAccount},</if>
            <if test="bankType != null and bankType != ''">#{bankType},</if>
            <if test="remark != null">#{remark},</if>
            <if test="dataVersion != null">#{dataVersion},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="swiftCode != null">#{swiftCode},</if>
            <if test="accountHolder != null">#{accountHolder},</if>
            <if test="bankName != null">#{bankName},</if>
        </trim>
    </insert>

    <update id="updateBizBasePreferredBankMaintenance" parameterType="com.microservices.otmp.masterdata.domain.BizBasePreferredBankMaintenance">
        update biz_base_preferred_bank_maintenance
        <trim prefix="SET" suffixOverrides=",">
            <if test="geo != null and geo != ''">geo = #{geo},</if>
            <if test="vendorCode != null and vendorCode != ''">vendor_code = #{vendorCode},</if>
            <if test="vendorName != null and vendorName != ''">vendor_name = #{vendorName},</if>
            <if test="bankAccount != null and bankAccount != ''">bank_account = #{bankAccount},</if>
            <if test="bankType != null and bankType != ''">bank_type = #{bankType},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="dataVersion != null">data_version = #{dataVersion},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="swiftCode != null">swift_code = #{swiftCode},</if>
            <if test="accountHolder != null">account_holder = #{accountHolder},</if>
            <if test="bankName != null">bank_name = #{bankName},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="deleteBizBasePreferredBankMaintenanceById" parameterType="Long">
        update biz_base_preferred_bank_maintenance set delete_flag = true where id = #{id}
    </update>

    <update id="deleteBizBasePreferredBankMaintenanceByIds" parameterType="String">
        update biz_base_preferred_bank_maintenance set delete_flag = true where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>


</mapper>