<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microservices.otmp.masterdata.mapper.BizBasemicroservicesEntityMapper">
    
    <resultMap type="com.microservices.otmp.masterdata.domain.entity.BizBasemicroservicesEntityDO" id="BizBasemicroservicesEntityResult">
        <result property="id"    column="id"    />
        <result property="companyCode"    column="company_code"    />
        <result property="country"    column="country"    />
        <result property="microservicesEntityName"    column="microservices_entity_name"    />
        <result property="microservicesEntityAddress"    column="microservices_entity_address"    />
        <result property="microservicesVatId"    column="microservices_vat_id"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="dataVersion"    column="data_version"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deleteFlag"    column="delete_flag"    />
    </resultMap>

    <sql id="selectBizBasemicroservicesEntityVo">
        select id, company_code, country, microservices_entity_name, microservices_entity_address, microservices_vat_id, status, remark, data_version, create_by, create_time, update_by, update_time, delete_flag from biz_base_microservices_entity
    </sql>

    <select id="selectBizBasemicroservicesEntityList" parameterType="com.microservices.otmp.masterdata.domain.dto.BizBasemicroservicesEntityDTO" resultMap="BizBasemicroservicesEntityResult">
        <include refid="selectBizBasemicroservicesEntityVo"/>
        <where>  
            <if test="companyCode != null  and companyCode != ''"> and company_code = #{companyCode}</if>
            <if test="country != null  and country != ''"> and country = #{country}</if>
            <if test="microservicesEntityName != null  and microservicesEntityName != ''"> and microservices_entity_name Ilike '%'||#{microservicesEntityName}||'%'</if>
            <if test="microservicesEntityAddress != null  and microservicesEntityAddress != ''"> and microservices_entity_address = #{microservicesEntityAddress}</if>
            <if test="microservicesVatId != null  and microservicesVatId != ''"> and microservices_vat_id = #{microservicesVatId}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="dataVersion != null "> and data_version = #{dataVersion}</if>
            <if test="deleteFlag != null "> and delete_flag = #{deleteFlag}</if>
        </where>
    </select>
    
    <select id="selectBizBasemicroservicesEntityById" parameterType="Long" resultMap="BizBasemicroservicesEntityResult">
        <include refid="selectBizBasemicroservicesEntityVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBizBasemicroservicesEntity" parameterType="com.microservices.otmp.masterdata.domain.entity.BizBasemicroservicesEntityDO" useGeneratedKeys="true" keyProperty="id">
        insert into biz_base_microservices_entity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyCode != null">company_code,</if>
            <if test="country != null">country,</if>
            <if test="microservicesEntityName != null">microservices_entity_name,</if>
            <if test="microservicesEntityAddress != null">microservices_entity_address,</if>
            <if test="microservicesVatId != null">microservices_vat_id,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="dataVersion != null">data_version,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="deleteFlag != null">delete_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyCode != null">#{companyCode},</if>
            <if test="country != null">#{country},</if>
            <if test="microservicesEntityName != null">#{microservicesEntityName},</if>
            <if test="microservicesEntityAddress != null">#{microservicesEntityAddress},</if>
            <if test="microservicesVatId != null">#{microservicesVatId},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="dataVersion != null">#{dataVersion},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="deleteFlag != null">#{deleteFlag},</if>
         </trim>
    </insert>

    <update id="updateBizBasemicroservicesEntity" parameterType="com.microservices.otmp.masterdata.domain.entity.BizBasemicroservicesEntityDO">
        update biz_base_microservices_entity
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyCode != null">company_code = #{companyCode},</if>
            <if test="country != null">country = #{country},</if>
            <if test="microservicesEntityName != null">microservices_entity_name = #{microservicesEntityName},</if>
            <if test="microservicesEntityAddress != null">microservices_entity_address = #{microservicesEntityAddress},</if>
            <if test="microservicesVatId != null">microservices_vat_id = #{microservicesVatId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="dataVersion != null">data_version = #{dataVersion},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="deleteFlag != null">delete_flag = #{deleteFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizBasemicroservicesEntityById" parameterType="Long">
        delete from biz_base_microservices_entity where id = #{id}
    </delete>

    <delete id="deleteBizBasemicroservicesEntityByIds" parameterType="String">
        delete from biz_base_microservices_entity where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>